main {
    background-image: url('/images/stacked-steps-haikei.png');
    min-height: 87vh;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-side {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 80%;
}

.left-side .text h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

.left-side .text h1+p {
    color: white;
    text-align: justify;
    text-indent: 40px;
    margin-top: 20px;
}

.right-side {
    width: 100%;
}

.right-side a {
    text-decoration: none;
    width: 50%;
}

.right-side .restaurant-and-hotel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    width: 100%;
}

.restaurant-hotel {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #800000;
    box-shadow: 0px 0px 20px 20px #200000;
    transition: 0.3s ease-in-out;
}

.restaurant-hotel:hover {
    transform: scale(1.1);
}

.restaurant-hotel img {
    width: 100%;
    object-fit: cover;
    height: 70%;
}

.h2-text {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
}

.h2-text h2 {
    letter-spacing: 5px;
}

@media (max-width: 1100px) {
    .right-side .restaurant-and-hotel {
        gap: 20px;
    }

    .right-side .restaurant-and-hotel {
        padding: 30px 10px;
    }

    .text {
        width: 85%;
    }
}

@media (max-width: 970px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .text {
        width: 90%;
    }

    .left-side .text h1 {
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .right-side {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .restaurant-and-hotel {
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .restaurant-and-hotel a {
        width: 90%;
    }
}